<!--
.headerpadding		{padding-right: 11px; padding-bottom: 11.5px}
.whitelink		{color:#FFFFFF}
.whitelink a		{text-decoration: none; color: #FFFFFF}
.whitelink a:hover	{text-decoration: none; color: #00FF00}
.dp_linecolor		{background-color:#5F90C2;height:1px;width:100%}
.footerl1			{color:#FFFFFF;font-size:11.5px;padding:1px;padding-left:5px;font-family:Tahoma,Arial}
.footerl1 a		{text-decoration: none; color: #FFFFFF}
.footerl1 a:hover	{text-decoration: none; color: #00FF00}
.footerr1			{color:#FFFFFF;padding-bottom:1px;text-align:right;padding-right:10px}
.footerr1 a		{text-decoration: none; color: #FFFFFF}
.footerr1 a:hover	{text-decoration: none; color: #00FF00}
.footerl2			{color:#FFFFFF;font-size:11.5px;padding:1px;padding-left:5px;font-family:Tahoma,Arial}
.footerl a		{text-decoration: none; color: #FFFFFF}
.footerl a:hover	{text-decoration: none; color: #00FF00}
.footerr2			{color:#FFFFFF;font-size:11.5px;padding-top:2px;text-align:right;font-family:Tahoma,Arial;padding-right:5px}
.footerr2 a		{text-decoration: none; color: #FFFFFF}
.footerr2 a:hover	{text-decoration: none; color: #00FF00}
-->