@charset "gb2312";

body, table, select {font-family: "MS Shell Dlg", "Tahoma", "ו"; font-size:12px; color:#08346B;behavior: url('/IB/common/mouse.htc')}
input, textarea{font-family: "Tahoma", "ו"; font-size:12px;}
body {filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#DDECF9, gradientType=0);overflow:hidden;}
body,textarea, select {scrollbar-face-color:#F7F3F7; scrollbar-highlight-color:#F7F3F7; scrollbar-shadow-color:#C6C7D6; scrollbar-3dlight-color:#C6C7D6; scrollbar-arrow-color:#000000; scrollbar-track-color:#FFFFFF; scrollbar-darkshadow-color:#FFFFFF;}

/*input {
	height:20px;
	border:1px solid #000; 
	width:expression(this.type=='text'? "230px" : "");
	background-color:expression((this.type=='botton'||this.type=='submit'||this.type=='reset'||this.type=='image') ? "#ECF4F6" :"");
	robin:expression(this.autocomplete='off');
	border:expression((this.type=='checkbox'||this.type=='radio') ?"" : "1px solid #000");
	border-left-width:expression((this.type=='text'||this.type=='checkbox')? "" : "4px");
	cursor:expression(this.type=='checkbox'?"default" : "");
	/*margin-right:expression((this.type=='botton'||this.type=='submit'||this.type=='reset'||this.type=='image') ? "10px" :"")*/
}*/
/*textarea {width:240px; height:70px; border:1px solid #000; background-color:expression((this.disabled||this.readOnly)? '#E6E6E6':'#FFFFFF')}*/
div.sele_div{border:1px solid #000000; width:136px; height:18px; clip:rect(0px,135px,17px,0px);overflow:hidden;}
div.list_div{border:1px solid #000000; width:182px; height:142px; clip:rect(0px,135px,17px,0px);overflow:hidden;}
/*select {position:relative; margin:-2px;width:138px;border:0px; background-color:expression((this.disabled||this.readOnly)? '#E6E6E6':'#FFFFFF'); }*/
.list_select {margin:-3px;width:186px}
#innerTable_div {width:100%; height:100%; overflow:auto;}
table.item_list_display {display:block;table-layout:fixed; word-break:keep-all;}
table.item_list_display th { background-image:url(/IB/images/titlebg.gif);
	text-align:left;
	height:22px; 
	color:#336699;
	cursor:default;
	padding:2px;
	border: #7494BF solid;
	border-width: 1px 1px 1px 0px; 
}
table.item_list_display tr
{
	height:20px;
	/*background-color:expression((this.sectionRowIndex%2==0)?"#E0F0F0":"#F0F9FF");*/
}
input {
	height:20px;
	behavior:url('/IB/common/input.htc');}
.btn{
		border:1px solid #336699;
		cursor:hand;
		padding:1px;
		margin:1px 4px 1px 4px;
		size:12px;
		filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#9DD3FF, gradientType=0)";
}	
	