@charset "gb2312";
body { margin:0px 2px 2px 0px;background-color:#F2F8FF;}
body, table, select {font-family: "MS Shell Dlg", "Tahoma", "宋体"; font-size:12px; color:#08346B;}
input, textarea{font-family: "Tahoma", "宋体"; font-size:12px;}
body,textarea, select {scrollbar-face-color:#ffffff; scrollbar-highlight-color:#EBF2F9; scrollbar-shadow-color:#C6C7D6; scrollbar-3dlight-color:#C6C7D6; scrollbar-arrow-color:#000000; scrollbar-track-color:#FFFFFF; scrollbar-darkshadow-color:#FFFFFF;}

/* *For mainFrame *外围表格 */
td.outerTable_top_left, td.outerTable_top_right, td.outerTable_bottom_left, td.outerTable_bottom_right{width:6px; height:6px; background-image:url(/IB/images/outerTable_top_left.gif); background-attachment: fixed; background-repeat: no-repeat;}
td.outerTable_top_left {background-image:url(/IB/images/outerTable_top_left.gif);}
td.outerTable_top_right {background-image:url(/IB/images/outerTable_top_right.gif);}
td.outerTable_bottom_left {background-image:url(/IB/images/outerTable_bottom_left.gif);}
td.outerTable_bottom_right {background-image:url(/IB/images/outerTable_bottom_right.gif);}

td.outerTable_top_x, .outerTable_bottom_x{height:6px; background-attachment: fixed; background-repeat: repeat-x;}
td.outerTable_top_x{background-image:url(/IB/images/outerTable_top_x.gif)};
td.outerTable_bottom_x{background-image:url(/IB/images/outerTable_bottom_x.gif);}

td.outerTable_left_y, .outerTable_right_y {background-attachment: fixed; background-repeat: repeat-y;}
td.outerTable_left_y{background-image:url(/IB/images/outerTable_left_y.gif);}
td.outerTable_right_y{background-image:url(/IB/images/outerTable_right_y.gif);}

td.outerTable_head, td.outerTable_main, td.innerTable_mainContent, td.outerTable_mainContent{ }
td.outerTable_head{padding:15px 20px 0px 18px; vertical-align:bottom;}
td.outerTable_main{padding:0px 3px 3px 3px; vertical-align:top;}
td.outerTable_mainContent{padding:3px; vertical-align:top;}
/**************************/
/*td.innerTable_top_left, .innerTable_top_right, .innerTable_bottom_left, .innerTable_bottom_right{width:3px; height:1px; background-image:url(/IB/images/innerTable_top_left.gif); background-attachment: fixed; background-repeat: no-repeat;}
td.innerTable_top_left {background-image:url(/IB/images/innerTable_top_left.gif);}
td.innerTable_top_right {background-image:url(/IB/images/innerTable_top_right.gif);}
td.innerTable_bottom_left {background-image:url(/IB/images/innerTable_bottom_left.gif);}
td.innerTable_bottom_right {background-image:url(/IB/images/innerTable_bottom_right.gif);}

td.innerTable_top_x, .innerTable_bottom_x{background-attachment: fixed; background-repeat: repeat-x;}
td.innerTable_top_x{background-image:url(/IB/images/innerTable_top_x.gif)};
td.innerTable_bottom_x{background-image:url(/IB/images/innerTable_bottom_x.gif);}

td.innerTable_left_y, .innerTable_right_y {background-attachment: fixed; background-repeat: repeat-y;}
td.innerTable_left_y{background-image:url(/IB/images/innerTable_left_y.gif);}
td.innerTable_right_y{background-image:url(/IB/images/innerTable_right_y.gif);}*/

td.innerTable_main {width:100%; height:100%; align:center;vertical-align:top;}
#innerTable_div {
        line-height:25px;      
		width:100%; height:100%; 
		overflow: auto; overflow-x:hidden;
		margin:0px; 
		padding:18px 12px 12px 8px;
		vertical-align:top;
}

/****************************/
table.tab_blank {z-index:1;position:relative; margin:1px -1px -1px 2px;}
table.opertion {padding-right:10px};

td.tab_active_left,td.tab_active_right,td.tab_unactive_left,td.tab_unactive_right {width:3px; height:22px; background-repeat: no-repeat;}

td.tab_active_left {background-image:url(/IB/images/tab_active_left.gif);}
td.tab_active_right {background-image:url(/IB/images/tab_active_right.gif);}
td.tab_unactive_left {background-image:url(/IB/images/tab_unactive_left.gif);}
td.tab_unactive_right {background-image:url(/IB/images/tab_unactive_right.gif);}


td.tab_active_btn, td.tab_unactive_btn {padding:5px 6px 0px 15px;vertical-align:bottom; background-repeat: no-repeat;}

td.tab_active_btn {background-image:url(/IB/images/tab_active_bg.gif);cursor:default;};
td.tab_unactive_btn {background-image:url(/IB/images/tab_unactive_bg.gif); cursor:hand;};
#rightsEnabled {text-align:center}
#rightsEnabled input {background-color:transparent!important;}
.td1 {text-align:left; width:180px; cursor:default; padding-left:5px;}
.td2, .td3, .td4 {width:40; cursor: url("/IB/images/catch.cur");}
.td2_on, .td3_on, .td4_on {width:40; cursor: url("/IB/images/catch.cur"); background-image:url(/IB/images/catch.gif); background-repeat:no-repeat; background-position:center;}
.td5 {width:60; cursor: url("/IB/images/catch.cur");}
.td5_on {width:60; cursor: url("/IB/images/catch.cur");  background-image:url(/IB/images/catch.gif); background-repeat:no-repeat; background-position:center;}
.td6 {width:30}
.td7 {width:100}
.td8 {width:50; cursor:default;}
.td6 input, .td7 input {width:96%; border:none!important; border-bottom:1px solid #C0C0C0!important; text-align:center;}

.ntr {background-color:#F0F9FF;}
.ntr_on {background-color:#E5E5E5;}
#progress { background:#FFFFAE; width:120px; height:30px; border:1px solid #C3D6EE; vertical-align:middle; font-weight:bold; padding-top:8px; display:none;}

.btn_rights {width:50px;}
th {line-height:22px;}
/*input {	height:20px;}*/